table, th, td {
   border-right: 2px solid black !important;;
}

body{
	font-weight: bold;
}

table{
	margin: 5px;
	table-layout: fixed;
}

table th{
	text-align: center !important;
}

img {
	margin-top: 40px;
	margin-bottom: 10px;
}

table, th, td {
   font-weight: bold !important;
}



.table {
    border: 7px solid red !important;
}

.thead{
	background-color: red;
	color: white;
	height: 60px;
}

.tbody-tr{
	color: red;
	text-align: right;
}

.tr-last{
	border-top: 7px solid red;
}

.image-box{
	margin-top: 100px;
	margin-left: 8px;
	border: 3px solid red !important;
	width: 1138px;
}

.box{
	border: 3px solid red;
	width: 350px;
	float: left;
	position: relative;
	left: 400px;
	top: 63px;
	background-color: white;
	color: red;
}

.box > p{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
